@model IEnumerable<TiktokLikeASP.Models.Post>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["Username"]</h1>
    @if (ViewData["Error"] != null && ViewData["Error"] != "")
    {
        <p class="text-danger"> @ViewData["Error"] </p>
    }
    <p></p>
</div>
@foreach (var item in Model)
{
    <a href="https://localhost:7065/posts/details/@item.Id">
        <article>
            <h2>@item.Title</h2>
            <video width=300 height=500 controls>
                <source src="https://localhost:7065/Videos/@item.VideoLink" type="video/mp4">
            </video>
            <p>By @item.Creator.Name</p>
            <p>On @item.PublishDate</p>
        </article>
    </a>
}

